<header>
  <section id="logo">
      <img src="../assets/gfx/runinc_logo.svg" title="Runinc logo" alt="Logo">
  </section>
  <nav>
      <ul>
          <li><a href="#" (click)="onSelect('homepage')" title="home">Home</a></li>
          <li><a href="#" (click)="onSelect('events')" title="Events">Events</a></li>
          <li><a href="#" (click)="onSelect('shop')" title="Shop">Shop</a></li>
          <li><a href="#contact" title="Contact">Contact us</a></li>
      </ul>
  </nav>
  <section id="search">

  </section>
</header>
