<footer id="contact">
    <img src="../assets/gfx/map.JPG" title="Adressen so kort" alt="Copenhagen Marathon">
    <div class="payoff">
        <h2 style="color:black;">Contact</h2>
    </div>
    <section id="info">
        <ul>
            <li>RunInc</li>
            <li>Kannikegade 12</li>
            <li>8000 Århus C</li>
            <li><a href="tel:+4526132696">Telefon 26 13 26 96</a></li>
            <li><a href="mailto:info@runinc.dk?subject=Fra website&body=Vi svarer indenfor 24 timer.">Send en mail tak</a></li>
        </ul>
    </section>
    <form>
        <label for="navn">Dit navn:</label>
        <input type="text" id="navn" required placeholder="Husk at det er dit fornavn">
        <label for="email">Din email:</label>
        <input type="text" id="email">
        <label for="telefon">Dit telefonnr:</label>
        <input type="text" id="telefon">
        <label for="dato">Dagens dato:</label>
        <input type="date" id="dato">
        <label for="besked">Din besked:</label>
        <textarea id="besked"></textarea>
        <input type="submit" value="Send beskeden">
        <input type="reset">
    </form>
</footer>
