<section id="events">

    <img src="./assets/gfx/event.jpg" title="Copenhagen marathon" alt="Run for it">
    <div class="payoff"><h2>next event</h2></div>
    <aside>
        <h1>events</h1>

        <h2>Copenhagen marathon</h2>
        <h3><time datetime="2018-09-12">Den 12. september 2018</time></h3>
        <h4>Aarhus Tech løbet</h4>
        <p><time datetime="2018-09-24">Den 24. september 2018</time></p>
        <h4>Skanderborg løber snart</h4>
        <p><time datetime="2018-10-15">Den 15. okotober 2018</time></p>

    </aside>
</section>
