<section id="shop">
    <div class="payoff"><h2>shop</h2></div>
    <aside>
        <h1>shop</h1>
        <h2>gratis fragt</h2>
        <ul>
            <li><a href="#">Adidas</a></li>
            <li><a href="#">Nike</a></li>
            <li><a href="#">Puma</a></li>
            <li><a href="#">Asics</a></li>
        </ul>
    </aside>
    <section id="products">
<app-shopitem></app-shopitem>
<app-shopitem></app-shopitem>
<app-shopitem></app-shopitem>
<app-shopitem></app-shopitem>
<app-shopitem></app-shopitem>
<app-shopitem></app-shopitem>
<app-shopitem></app-shopitem>

    </section>
</section>
